
body{
    font-family: sans-serif;
}

.content{
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: auto;
    border-radius: 10px;
}

table, th, td {
    border: 0.75px solid black;
    border-collapse: collapse;
}